<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6JqTiYEb0gICWxP03sbX-tJhWjTAfxZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1008903742204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Charlotte-Tsui.CampusNav</string>
	<key>PROJECT_ID</key>
	<string>campusnav-261b0</string>
	<key>STORAGE_BUCKET</key>
	<string>campusnav-261b0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008903742204:ios:83737dd10596af54332d79</string>
</dict>
</plist>